// ignore_for_file: non_constant_identifier_names

// ignore: avoid_classes_with_only_static_members
class Config {
  static const String DEV_IKSM_SESSION = '';
  static const String DEV_SALMON_STATS_API_TOKEN = '';

  static const String SALMON_STATS_API_ORIGIN = 'https://salmon-stats-api.yuki.games';
  static const String SALMON_STATS_URL = 'https://salmon-stats.yuki.games';
  static const String SALMON_IMAGE_BASE_PATH = 'https://splatoon-stats-api.yuki.games/static/images';

  // Splatnet related configurations
  static const String SPLATNET_ORIGIN = 'https://app.splatoon2.nintendo.net';
  static const String SPLATNET_API_ORIGIN = '$SPLATNET_ORIGIN/api';
  static const String SPLATNET_USER_AGENT = 'OnlineLounge/1.6.1.2 NASDKAPI Android';
}
